/* This is Css comment */
/* ? Question mark comment */
/* ! Alert comment */
/* TODO This is a todo comment */
/* * Regular comment */

body{
    background-color: lightblue;
   
}
h1{
    color: navy;
    background-color: white;
    padding: 1rem;
}
ul{
    font-family: 'Courier New', Courier, monospace;
}